{% extends '../base.html' %}

{% block list %}
  {% for each in pits %}
  <div class="email-item pure-g{% if each.id == current_id %} email-item-selected{% end %}">
    <div class="pure-u">
      <img class="email-avatar" alt="YUI&#x27;s avatar" height="64" width="64" src="../../img/common/yui-avatar.png">
    </div>

    <div class="pure-u-3-4">
      <h5 class="email-name">{{ each.author.nickname }}</h5>
      <h4 class="email-subject">{{ each.name }}</h4>
      <p class="email-desc">
        {{ truncate(each.description, 30) }}
      </p>
    </div>
  </div>
  {% end %}
{% end %}


{% block main %}
{% if pit %}
<div class="email-content">
  <div class="email-content-header pure-g">
    <div class="pure-u-1-2">
      <h1 class="email-content-title">{{ pit.name }}</h1>
      <p class="email-content-subtitle">
        From <a>{{ pit.name }}</a> at <span>{{ pit.created }}</span>
      </p>
    </div>

    <div class="email-content-controls pure-u-1-2">
      <button class="secondary-button pure-button">Reply</button>
      <button class="secondary-button pure-button">Forward</button>
      <button class="secondary-button pure-button">Move to</button>
    </div>
  </div>

  <div class="email-content-body">
    {{ pit.content }}
  </div>
</div>
{% end %}
{% end %}