<!doctype html>
<html lang="en">
<head>
  <title>Let's Drop into Pits</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ static_url('styles/plugins/pure-min.css') }}">
  <!--[if lte IE 8]>
  <link rel="stylesheet" href="{{ static_url('styles/old-ie.css') }}">
  <![endif]-->
  <!--[if gt IE 8]><!-->
  <link rel="stylesheet" href="{{ static_url('styles/layout.css') }}">
  <!--<![endif]-->
  <!--[if lt IE 9]>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.js"></script>
  <![endif]-->
</head>
<body>
<div id="layout" class="content pure-g">
  <div id="nav" class="pure-u">
    <a href="#" class="nav-menu-button">Menu</a>

    <div class="nav-inner">
      <button class="primary-button pure-button">Let's Drop Pits</button>

      <div class="pure-menu pure-menu-open">
        <ul>
          {% block menu %}
          <li><a href="#">Post</a></li>
          <li><a href="#">Explore</a></li>
          <li><a href="#">Mine</a></li>
          <li><a href="#">Favourites <span class="email-count">(2)</span></a></li>
          <li><a href="#">SignOut</a></li>
          {% end %}
          {% block topic %}
          {% if topics %}
          <li class="pure-menu-heading">Topic</li>
          {% for t in topics %}
          <li><a href="#"><span class="email-topic email-topic-cyan"></span>{{ t.name }}</a></li>
          {% end %}
          {% end %}
          {% end %}
        </ul>
      </div>
    </div>
  </div>

  <div id="list" class="pure-u-1">
  {% block list %}{% end %}
  </div>

  <div id="main" class="pure-u-1">
  {% block main %}{% end %}
  </div>
</div>

<script src="http://yui.yahooapis.com/3.14.1/build/yui/yui-min.js"></script>
<script>
  YUI().use('node-base', 'node-event-delegate', function (Y) {

    var menuButton = Y.one('.nav-menu-button'),
      nav    = Y.one('#nav');

    // Setting the active class name expands the menu vertically on small screens.
    menuButton.on('click', function (e) {
      nav.toggleClass('active');
    });

    // Your application code goes here...

  });
</script>
<script>
YUI().use('node-base', 'node-event-delegate', function (Y) {
  // This just makes sure that the href="#" attached to the <a> elements
  // don't scroll you back up the page.
  Y.one('body').delegate('click', function (e) {
    e.preventDefault();
  }, 'a[href="#"]');
});
</script>
</body>
</html>
