<!doctype html>
<html lang="en">
<head>
  <title>Let's Drop Pits</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ static_url('styles/plugins/pure-min.css') }}">
  <link rel="stylesheet" href="{{ static_url('styles/index.css') }}">
  <link rel="stylesheet" href="{{ static_url('styles/flash-message.css') }}">
  <script src="{{ static_url('components/jquery/dist/jquery.js') }}"></script>
  <script src="{{ static_url('components/jquery-form/jquery.form.js') }}"></script>
  <script src="{{ static_url('scripts/global.js') }}"></script>
</head>
<body>
  <div id="flash-messages-container" class="message-box-fixed">
  </div>
  <div class="wrapper">

    <div id="main" class="main-no-hover">
      <p>Let's Drop <a href="{{ reverse_url('article_list') }}">Pits</a> - -|||</p>
      <a href="javascript:void(0);" class="button" id="sign-in-btn">Sign In</a>
      <a href="javascript:void(0);" class="button" id="sign-up-btn">Sign Up</a>
    </div>

    <div id="sign-up-container" class="hidden container">
      <form action="{{ reverse_url('account_sign_up') }}" class="pure-form pure-form-aligned" method="post" id="sign-up-form">
        {% module xsrf_form_html() %}
        <fieldset>
          <legend>Sign Up</legend>

          <div class='pure-control-group'>
            <label for="sign-up-">Email</label>
            <input id="sign-up-email" type="email" placeholder="Email" class="puer-input-1-2" name="email">
            <span id="tips-email" class="form-tips"></span>
          </div>

          <div class='pure-control-group'>
            <label for="sign-up-password">Password</label>
            <input id="sign-up-password" type="password" placeholder="Password" name="password">
            <span id="tips-password" class="form-tips"></span>
          </div>

          <div class='pure-control-group'>
            <label for="sign-up-password">Confirm Password</label>
            <input id="sign-up-password" type="password" placeholder="Password" name="confirm_password">
            <span id="tips-confirm_password" class="form-tips"></span>
          </div>

          <div class='pure-control-group'>
            <label for="sign-up-nickname">Nickname</label>
            <input id="sign-up-nickname" type="text" placeholder="Nickname" name="nickname">
            <span id="tips-nickname" class="form-tips"></span>
          </div>

          <button type="submit" class="pure-button pure-button">Sign Up</button>
          <a type="button" class="pure-button pure-button cancel-btn">Cancel</a>
        </fieldset>
      </form>
    </div>

    <div id="sign-in-container" class="hidden container">
      <form action="{{ reverse_url('account_sign_in') }}" class="pure-form pure-form-aligned" method="post" id="sign-in-form">
        {% module xsrf_form_html() %}
        <fieldset>
          <legend>Sign In</legend>

          <div class='pure-control-group'>
            <label for="sign-in-email">Email</label>
            <input id="sign-in-email" type="email" placeholder="Email" class="puer-input-1-2" name="email">
          </div>

          <div class='pure-control-group'>
            <label for="sign-in-password">Password</label>
            <input id="sign-in-password" type="password" placeholder="Password" name="raw_passwd">
          </div>

          <button type="submit" class="pure-button pure-button">Sign In</button>
          <a type="button" class="pure-button pure-button cancel-btn">Cancel</a>
        </fieldset>
      </form>
    </div>

  </div>


  <script>
  $(function (){
    $('.form-tips').hide();
    $('#sign-up-btn').click(function() {
      $('#sign-in-container').fadeOut(250);
      $('#main').animate({'width': '60%'}, 400, function() {
        $('#sign-up-container').fadeIn();
      });
    });
    $('#sign-in-btn').click(function() {
      $('#sign-up-container').fadeOut(250);
      $('#main').animate({'width': '60%'},  400, function() {
        $('#sign-in-container').fadeIn();
      });
    });
    $('.cancel-btn').click(function() {
      $('#sign-up-container').fadeOut(250);
      $('#sign-in-container').fadeOut(250);
      $('#main').delay(250).animate({'width': '100%'}, 400);
    });
    $('#sign-up-form').ajaxForm({
      dataType:'json',
      success: function (res) {
        if (res.success) {
          $('sign-in-btn').click();
        }
        else {
          $('.form-tips').hide();
          for (key in res.messages) {
            $('#tips-' + key).html(res.messages[key]).slideDown();
          }
        }
      },
    });
    $('#sign-in-form').ajaxForm({
      dataType:'json',
    });
  });
  </script>
</body>
</html>
